.img {
  float: left;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 200px;
  margin: 20px;
}
.layout {
  display: flex;
  flex-direction: row;
}
